<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Play with ChessAI</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chessboard-1.0.0.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chess_ai.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sweetalert2.min.css') }}">
</head>
<body>
    <div class="bg-img"></div>
    <div class="dark-bg-for-img"></div>

    <div class="content">
        <div class="small_empty_space"></div>
        <h3 class="board board-title">Chess AI</h3>
        <div class="large_empty_space"></div>

        <div id="board" class="board"></div>

        <div class="info">
            <div id="move-history" class="move-history"></div>
        </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.5.1.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/chess.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/chessboard-1.0.0.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/chess_ai.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/sweetalert2.all.min.js') }}"></script>
</body>
</html>